{% extends "quotes/base.html" %}

{% block content %}

<div>
    <h2>Sign Up</h2>
</div>

<form method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username:</label>
        <div class="col-sm-10">
            {{ form.username }}
            <span>{{ form.errors.username }}</span>
        </div>
    </div>
    <div>
        <label> Email:
            {{ form.email }}
        </label>
        <span>{{ form.errors.email }}</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-10">
            {{ form.password1 }}
            <span>{{ form.errors.password1 }}</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password confirmation:</label>
        <div class="col-sm-10">
            {{ form.password2 }}
            <span>{{ form.errors.password2 }}</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </div>
</form>

{% endblock %}